doctype html
html
  head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content)
        meta(name="author", content)
        title= title
        link(rel="icon", href="../images/favicon.ico")
        //- Custom CSS
        link(type="text/css"
             href="stylesheets/style.css"
             rel="stylesheet")
        //- Bootstrap core CSS
        link(type="text/css"
             href="stylesheets/bootstrap.min.css"
             rel="stylesheet")
        //- Twitter typeahead CSS
        link(type="text/css"
             href="stylesheets/typeaheadjs.css"
             rel="stylesheet")
  body
    div(class="navbar navbar-default navbar-fixed-top", role="navigation")
      div(class="container")
        div(class="navbar-header")
          button(type="button"
                 class="navbar-toggle collapsed"
                 data-toggle="collapse"
                 data-target=".navbar-collapse")
            //- Hamburger
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand navbar-left", href="#")= title
          div(id="player", class="")
            audio(type="audio/mpeg", autoplay="autoplay")
            div(class="btn-grp")
              button(type="button", class="btn btn-default navbar-btn", id="back")
                span(class="glyphicon glyphicon-backward")
              
              button(type="button", class="btn btn-default navbar-btn", id="pause")
                span(class="glyphicon glyphicon-pause", id="pause-btn")
              
              button(type="button", class="btn btn-default navbar-btn", id="forward")
                span(class="glyphicon glyphicon-forward")           
        div(class="navbar-text truncate", id="nowPlaying") Now Playing
        div(class="navbar-collapse collapse", style="height: 1px;")
          form(class="navbar-form navbar-right", id="gameSearch")    
            div(class="form-group") 
              input(type="text"
                    class="typeahead form-control"
                    id="game"
                    disabled
                    placeholder="Start typing a game...")
            button(class="disabled btn btn-default", id="submit")
              span(class="glyphicon glyphicon-refresh")
              
    div(id="main", class="container")
      h2(id="title")
      div(class="list-group", id="songList")

    
    script(type="text/javascript", src="javascripts/jquery-1.11.1.min.js")
    script(type="text/javascript", src="javascripts/bootstrap.min.js")
    script(type="text/javascript", src="javascripts/typeahead.bundle.min.js")
    script(type="text/javascript", src="javascripts/socket.io.js")
    script(type="text/javascript", src="javascripts/utils.js")
    script(type="text/javascript", src="javascripts/init.js")
    script(type="text/javascript", src="javascripts/suggest.js")
